<!DOCTYPE html>
<html>
<body>
	<b>Welcome to the flight booking webservice!</b><br>
	<a href="/logout">[Logout]</a>
	<p>Use the following available endpoints for GET/PUT/POST/DELETE.</p>
	<p>
	Endpoints:<br>
	<ul>
		<li><a href="http://airlinews.azurewebsites.net/v1/aircrafts">http://airlinews.azurewebsites.net/v1/aircrafts</li>
		<li><a href="http://airlinews.azurewebsites.net/v1/flights">http://airlinews.azurewebsites.net/v1/flights</li>
		<li><a href="http://airlinews.azurewebsites.net/v1/flight">http://airlinews.azurewebsites.net/v1/flight<string:flightnumber></li>
		<li><a href="http://airlinews.azurewebsites.net/v1/aircrafts">http://airlinews.azurewebsites.net/v1/aircrafts</li>
		<li><a href="http://airlinews.azurewebsites.net/v1/aircraft">http://airlinews.azurewebsites.net/v1/aircraft<string:aircraft></li>
		<li><a href="http://airlinews.azurewebsites.net/v1/ticket">http://airlinews.azurewebsites.net/v1/ticket</li>
		<li><a href="http://airlinews.azurewebsites.net/v1/ticket">http://airlinews.azurewebsites.net/v1/ticket<string:ticketnumber></li>
		<li><a href="http://airlinews.azurewebsites.net/v1/seat">http://airlinews.azurewebsites.net/v1/seat</li>
		<li><a href="http://airlinews.azurewebsites.net/v1/seat">http://airlinews.azurewebsites.net/v1/seat<string:seatcode></li>
		<li><a href="http://airlinews.azurewebsites.net/v1/user">http://airlinews.azurewebsites.net/v1/user</li>
		<li><a href="http://airlinews.azurewebsites.net/v1/checkin">http://airlinews.azurewebsites.net/v1/checkin</li>
	</ul>
	</p>
	</body>
</html>